<script>
    $(function () {
        var tree = new SergsxmUITree('#{{formId}}-items', {
            removeButton: '.close',
            inputName: 'orderlist',
            maxNesting: 0,
            readOnly: {{readOnly ? 'true' : 'false'}}
        });
        $('#{{formId}} .list-group-item a').click(function () {
            if (tree.getChangedStatus() == false) {
                return true;
            }
            var url = $(this).attr('href');
            sergsxmUIFunctions.confirm(
                '{% trans from "sergsxmui" %}The form has been changed. If you leave the page, the changes will be lost. Are you sure you want to leave the page?{% endtrans %}', 
                '{% trans from "sergsxmui" %}Confirm leave the page{% endtrans %}', 
                '{% trans from "sergsxmui" %}Yes{% endtrans %}', 
                '{% trans from "sergsxmui" %}Cancel{% endtrans %}', 
                function () {location.href = url;}
            );
            return false;
        });
        {% if (configuration['createEnabled'] == true) and (readOnly == false) %}
        var newCounter = 1;
        $('#{{formId}}-add-btn').click(function () {
            var title = $('#{{formId}}-add-title').val();
            if (title) {
                var $input = $('<input type="hidden" name="orderlist[new'+newCounter+'][title]" value="" />').val(title);
                $input.appendTo('#{{formId}}-titles');
                $('#{{formId}}-add-title').val('');
                $('#{{formId}}-items').append('<div class="list-group-item" data-nesting="0" data-id="new'+newCounter+'"> <i class="glyphicon glyphicon-resize-vertical"></i> '+title+' {% if configuration['removeEnabled'] == true %}<button type="button" class="close">&times;</button>{% endif %} </div>')
                newCounter++;
                tree.updateElementsNesting(true);
            }
            return false;
        });
        {% endif %}
    });
</script>