<div class="row form-group {{inputId}}-container{% if error %} has-error{% endif %}">
    <label for="{{inputId}}" class="col-sm-5">{{configuration['description']}}</label>
    <div class="col-sm-7">
        {% if configuration['multiply'] == false %}
            <div id="{{inputId}}-images" data-input-name="{{inputName}}" class="clearfix">
                <input type="hidden" name="{{inputName}}" value="{{(value != null ? value.getId() : '')}}" />
                <div class="thumbnail sergsxmui-form-thumbnail"><img src="{{value != null ? thumbnails[value.getId()] : asset('bundles/sergsxmui/img/foo.png')}}" title="{% if value != null %}{% trans with {'%name%': value.getFileName(), '%size%': value.getSize()} from "sergsxmui" %}%name% (%size% bytes){% endtrans %}{% else %}{% trans from "sergsxmui" %}Image not selected{% endtrans %}{% endif %}" /></div>
            </div>
            <div>
                <button {% if disabled %}disabled="disabled"{% endif %} class="btn btn-default" onclick="$('#{{inputId}}').val('');$('#{{inputId}}-images').html('&lt;input type=&quot;hidden&quot; name=&quot;{{inputName}}&quot; value=&quot;&quot; /&gt;&lt;div class=&quot;thumbnail sergsxmui-form-thumbnail&quot;&gt;&lt;img src=&quot;bundles/sergsxmui/img/foo.png&quot; title=&quot;{% trans from "sergsxmui" %}Image not selected{% endtrans %}&quot; /&gt;&lt;/div&gt;');$('.{{inputId}}-error').text('');$('.{{inputId}}-container').removeClass('has-error');return false;">{% trans from "sergsxmui" %}Reset{% endtrans %}</button>
                <button {% if disabled %}disabled="disabled"{% endif %} class="btn btn-primary" onclick="$('#{{inputId}}').click();return false;">{% trans from "sergsxmui" %}Change{% endtrans %}</button>
            </div>
            <input {% if disabled %}disabled="disabled"{% endif %} type="file" accept="image/*" class="form-image-upload" id="{{inputId}}" name="{{inputNameFile}}" />
            <p class="form-error-text {{inputId}}-error">{{error}}</p>
        {% else %}
            <div id="{{inputId}}-images" class="form-draggable clearfix" data-input-name="{{inputName}}[]">
                {% for file in value %}
                    <div class="thumbnail sergsxmui-form-thumbnail">
                        <input type="hidden" name="{{inputName}}[]" value="{{file.getId()}}" />
                        <img src="{{thumbnails[file.getId()]}}" title="{% trans with {'%name%': file.getFileName(), '%size%': file.getSize()} from "sergsxmui" %}%name% (%size% bytes){% endtrans %}" />
                        <button type="button" class="close" onclick="$(this).closest('.thumbnail').remove();return false;">&times;</button>
                    </div>
                {% endfor %}
            </div>
            <div>
                <button {% if disabled %}disabled="disabled"{% endif %} class="btn btn-primary" onclick="$('#{{inputId}}').click();return false;">{% trans from "sergsxmui" %}Upload{% endtrans %}</button>
            </div>
            <input {% if disabled %}disabled="disabled"{% endif %} type="file" accept="image/*" class="form-image-upload-multiply" id="{{inputId}}" name="{{inputNameFile}}" />
            <p class="form-error-text {{inputId}}-error">{{error}}</p>
        {% endif %}
    </div>
</div>
