<div class="form-group {{inputId}}-container{% if error %} has-error{% endif %}">
    <label for="{{inputId}}" class="col-sm-5">{{configuration['description']}}</label>
    <div class="col-sm-7">
        <input type="password" class="form-control" id="{{inputId}}" name="{{inputName}}" placeholder="{{configuration['description']}}" value="" />
        {% if configuration['repeat'] == false %}<p class="form-error-text {{inputId}}-error">{{error}}</p>{% endif %}
    </div>
</div>
{% if configuration['repeat'] == true %}
<div class="form-group {{inputId}}-container{% if error %} has-error{% endif %}">
    <label for="{{inputId}}_repeat" class="col-sm-5">{{configuration['repeatDescription']}}</label>
    <div class="col-sm-7">
        <input type="password" class="form-control" id="{{inputId}}_repeat" name="{{inputName}}_repeat" placeholder="{{configuration['repeatDescription']}}" value="" />
        <p class="form-error-text {{inputId}}-error">{{error}}</p>
    </div>
</div>
{% endif %}
