<div class="form-group {{inputId}}-container{% if error %} has-error{% endif %}">
    <label for="{{inputId}}" class="col-sm-5">{{configuration['description']}}</label>
    <div class="col-sm-7">
        <p id="{{inputId}}-tags" data-input-name="{{inputName}}[]">
            {% for item in value %}
                <span class="label sergsxmui-label"><input type="hidden" name="{{inputName}}[]" value="{{item.getTag()}}" />{{item.getTag()}} <a href="#" onclick="$(this).closest('.label').remove();return false;"><i class="glyphicon glyphicon-remove"></i></a></span>
            {% endfor %}
        </p>
        <input type="text" class="form-control form-tag" id="{{inputId}}" name="{{inputNameNew}}" placeholder="{{(configuration['placeholder'] is defined ? configuration['placeholder'] : configuration['description'])}}" value="" {% if disabled %}disabled="disabled"{% endif %} />
        <p class="form-error-text {{inputId}}-error">{{error}}</p>
    </div>
</div>
