<div class="form-group {{inputId}}-container{% if error %} has-error{% endif %}">
    <label for="{{inputId}}" class="col-sm-5">{{configuration['description']}}</label>
    <div class="col-sm-7">
        <input type="text" class="form-control" id="{{inputId}}" name="{{inputName}}" placeholder="{{configuration['description']}}" value="{{value}}" {% if disabled %}disabled="disabled"{% endif %} />
        <p class="form-error-text {{inputId}}-error">{{error}}</p>
    </div>
</div>
