<div id="sergsxmui-tab-content-{{name}}">
    <div id="sergsxmui-tab-errors-{{name}}"></div>
    <div style="margin-bottom:15px;">
        {% if searchEnabled == true %}
            <div class="pull-right">
                <form class="form-inline" action="" method="get">
                    <input type="hidden" name="tab" value="{{name}}" />
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" class="form-control" name="search" value="{{search}}" />
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
        {% endif %}
        {% for action in actions %}
            {% if (action['permission'] == true) %}
                {% if action['type'] == 'url' %}
                    {% if action['sendIds'] == false %}
                        <a href="{{action['url']}}" class="btn btn-default" {% if action['confirmed'] == true %}onclick="sergsxmuiTabFunction_{{name}}_{{action['name']}}(this);return false;"{% endif %}>{{action['description']}}</a>
                        {% if action['confirmed'] == true %}
                        <script>
                            function sergsxmuiTabFunction_{{name}}_{{action['name']}}(that) {
                                sergsxmUIFunctions.confirm('{{action['confirmedMessage']}}', '{{action['confirmedTitle']}}', '{{action['confirmedOk']}}', '{{action['confirmedCancel']}}', function () {
                                    location.href = $(that).attr('href');
                                });
                                return false;
                            }
                        </script>
                        {% endif %}
                    {% else %}
                        <a href="#" class="btn btn-default {{ action['multiply'] == false ? 'sergsxmui-tab-function-'~name~'-single' : 'sergsxmui-tab-function-'~name~'-multiply' }}" onclick="sergsxmuiTabFunction_{{name}}_{{action['name']}}();return false;">{{action['description']}}</a>
                        <script>
                            function sergsxmuiTabFunction_{{name}}_{{action['name']}}() {
                                var checkCount = $('.sergsxmui-tab-checkbox-{{name}}:checked').length;
                                {% if action['multiply'] == false %}
                                if (checkCount != 1) {
                                    sergsxmUIFunctions.alert('{% trans from "sergsxmui" %}It should be selected only one item{% endtrans %}', 'error', '#sergsxmui-tab-errors-{{name}}');
                                    return false;
                                }
                                {% else %}
                                if (checkCount == 0) {
                                    sergsxmUIFunctions.alert('{% trans from "sergsxmui" %}It should be selected one or more items{% endtrans %}', 'error', '#sergsxmui-tab-errors-{{name}}');
                                    return false;
                                }
                                {% endif %}
                                {% if action['confirmed'] == true %}
                                sergsxmUIFunctions.confirm('{{action['confirmedMessage']}}', '{{action['confirmedTitle']}}', '{{action['confirmedOk']}}', '{{action['confirmedCancel']}}', function () {
                                    location.href = '{{action['url']}}?'+$('.sergsxmui-tab-checkbox-{{name}}').serialize();
                                });
                                {% else %}
                                location.href = '{{action['url']}}?'+$('.sergsxmui-tab-checkbox-{{name}}').serialize();
                                {% endif %}
                                return false;
                            }
                        </script>
                    {% endif %}
                {% elseif action['type'] == 'ajax' %}
                    <a href="#" class="btn btn-default {{ action['multiply'] == false ? 'sergsxmui-tab-function-'~name~'-single' : 'sergsxmui-tab-function-'~name~'-multiply' }}" onclick="sergsxmuiTabFunction_{{name}}_{{action['name']}}();return false;">{{action['description']}}</a>
                    <script>
                        function sergsxmuiTabFunction_{{name}}_{{action['name']}}() {
                            var checkCount = $('.sergsxmui-tab-checkbox-{{name}}:checked').length;
                            {% if action['multiply'] == false %}
                            if (checkCount != 1) {
                                sergsxmUIFunctions.alert('{% trans from "sergsxmui" %}It should be selected only one item{% endtrans %}', 'error', '#sergsxmui-tab-errors-{{name}}');
                                return false;
                            }
                            {% else %}
                            if (checkCount == 0) {
                                sergsxmUIFunctions.alert('{% trans from "sergsxmui" %}It should be selected one or more items{% endtrans %}', 'error', '#sergsxmui-tab-errors-{{name}}');
                                return false;
                            }
                            {% endif %}
                            {% if action['confirmed'] == true %}
                            sergsxmUIFunctions.confirm('{{action['confirmedMessage']}}', '{{action['confirmedTitle']}}', '{{action['confirmedOk']}}', '{{action['confirmedCancel']}}', function () {
                                $.ajax({
                                    type: "POST",
                                    url: '?tab={{name}}&ajax=true&csrf_token={{csrfToken}}',
                                    data: "action={{action['name']}}&"+$('.sergsxmui-tab-checkbox-{{name}}').serialize(),
                                    error: function(){
                                        sergsxmUIFunctions.alert('{% trans from "sergsxmui" %}Ajax request error{% endtrans %}', 'error', '#sergsxmui-tab-errors-{{name}}');
                                    },
                                    success: function(data){
                                        $('#sergsxmui-tab-content-{{name}}').replaceWith(data);    
                                    }
                                });	 
                            });
                            {% else %}
                            $.ajax({
                                type: "POST",
                                url: '?tab={{name}}&ajax=true&csrf_token={{csrfToken}}',
                                data: "action={{action['name']}}&"+$('.sergsxmui-tab-checkbox-{{name}}').serialize(),
                                error: function(){
                                    sergsxmUIFunctions.alert('{% trans from "sergsxmui" %}Ajax request error{% endtrans %}', 'error', '#sergsxmui-tab-errors-{{name}}');
                                },
                                success: function(data){
                                    $('#sergsxmui-tab-content-{{name}}').replaceWith(data);    
                                }
                            });	 
                            {% endif %}
                            return false;
                        }
                    </script>
                {% endif %}
            {% else %}
                <a href="#" class="btn btn-default disabled" onclick="return false;">{{action['description']}}</a>
            {% endif %}
        {% endfor %}
        <div class="clearfix"></div>
    </div>
    
    <table class="table table-bordered table-hover table-striped">
        <thead>
            <tr>
                    <th>
                        <input type="checkbox" class="sergsxmui-tab-checkbox-all sergsxmui-tab-checkbox-all-{{name}}" data-tab-name="{{name}}" />
                    </th>
                {% for colkey, col in columns %}
                    {% if col['configuration']['hidden'] == false %}
                        <th>
                            {% if col['configuration']['sort'] == true %}
                                {% if colkey == orderColumn %}
                                    <a href="?tab={{name}}&ordercolumn={{colkey}}&orderdirection={{(orderDirection == 0 ? 'desc' : 'asc')}}">{{col['configuration']['description']}} {{(orderDirection == 0 ? '<i class="glyphicon glyphicon-arrow-up"></i>' : '<i class="glyphicon glyphicon-arrow-down"></i>') | raw}}</a>
                                {% else %}
                                    <a href="?tab={{name}}&ordercolumn={{colkey}}&orderdirection=asc">{{col['configuration']['description']}}</a>
                                {% endif %}
                            {% else %}
                                {{col['configuration']['description']}}
                            {% endif %}
                        </th>
                    {% endif %}
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
                <tr>
                        <td><input type="checkbox" class="sergsxmui-tab-checkbox sergsxmui-tab-checkbox-{{name}}" data-tab-name="{{name}}" name="id[]" value="{{item['id']}}" /></td>
                    {% for colkey, col in columns %}
                        {% if col['configuration']['hidden'] == false %}
                            <td>
                                {{item['col'~colkey] | raw}}
                                {% if (loop.first) and (actionErrors[item['id']] is defined) %}
                                    <p class="sergsxmui-list-error">{{actionErrors[item['id']]}}</p>
                                {% endif %}
                            </td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
        
    {% if (pageCount > 0) %}
    <nav>
        <ul class="pagination sergsxmui-tab-pagination">
            <li {% if page == 0 %}class="disabled"{% endif %}>
                <a href="?tab={{name}}&page={{page - 1}}">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% set to = page + 1 %}
            {% set from = page - 1 %}
            {% if (to >= pageCount) %}
                {% set to = pageCount - 1 %}
            {% endif %}
            {% if (from < 0) %}
                {% set from = 0 %}
            {% endif %}
            {% if (from > 0) %}
                <li><a href="?tab={{name}}&page=0">1</a></li>
            {% endif %}
            {% if (from > 1) %}
                <li class="disabled"><a href="#">...</a></li>
            {% endif %}
            {% for i in from..to %}
                <li {% if i == page %}class="active"{% endif %}><a href="?tab={{name}}&page={{i}}">{{i+1}}</a></li>
            {% endfor %}
            {% if (to < (pageCount - 2)) %}
                <li class="disabled"><a href="#">...</a></li>
            {% endif %}
            {% if (to < (pageCount - 1)) %}
                <li><a href="?tab={{name}}&page={{pageCount - 1}}">{{pageCount}}</a></li>
            {% endif %}
            <li {% if page == pageCount - 1 %}class="disabled"{% endif %}>
                <a href="?tab={{name}}&page={{page + 1}}">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>        
        </ul>
        <div class="btn-group pull-right">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {% trans with {'%itemsInPage%': itemsInPage} from "sergsxmui" %}%itemsInPage% items on page{% endtrans %}
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                {% for i in itemsInPageChoices %}
                    {% if i != itemsInPage %}
                    <li><a href="?tab={{name}}&itemsinpage={{i}}">{% trans with {'%itemsInPage%': i} from "sergsxmui" %}%itemsInPage% items on page{% endtrans %}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </nav>            
    {% endif %}
</div>
