{% extends "SergsxmUIBundle:Layout:Layout.html.twig" %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <h1>{{title | default('')}}</h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-3">
        <ul class="nav nav-pills nav-stacked">
        {% for tabname,tab in tabsDescription %}
            <li {% if tabname == activeTab %}class="active"{% endif %}><a href="?tab={{tabname}}" class="sergsxmui-tab-btn">{{tab['description']}}</a></li>
        {% endfor %}
        </ul>
    </div>
    <div class="col-lg-9">
        <div id="sergsxmui-tab-wrap-{{activeTab}}" class="sergsxmui-tab-wrap">
        {% include 'SergsxmUIBundle:TableLists:TableListTab.html.twig' with tab only %}
        </div>
    </div>
</div>        
{% endblock %}                

{% block javascripts %}
    {{ parent() }}
    
    <script>
        $(function () {
            function sergsxmuiTabUpdateVisibility(tabName) {
                var count = $('.sergsxmui-tab-checkbox-'+tabName+':checked').length;
                if (count == 1) {
                    $('.sergsxmui-tab-function-'+tabName+'-single').removeClass('disabled');
                } else {
                    $('.sergsxmui-tab-function-'+tabName+'-single').addClass('disabled');
                }
                if (count > 0) {
                    $('.sergsxmui-tab-function-'+tabName+'-multiply').removeClass('disabled');
                } else {
                    $('.sergsxmui-tab-function-'+tabName+'-multiply').addClass('disabled');
                }
                var ncount = $('.sergsxmui-tab-checkbox-'+tabName+':not(:checked)').length;
                $('.sergsxmui-tab-checkbox-all-'+tabName)[0].checked = ((ncount == 0) && (count != 0));
            }
            $('.sergsxmui-tab-checkbox-all').click(function () {
                var name = $(this).data('tab-name');
                var checkedStatus = $(this).is(':checked');
                $('.sergsxmui-tab-checkbox-'+name).each(function () {this.checked = checkedStatus;});
                sergsxmuiTabUpdateVisibility(name);
            });
            $('.sergsxmui-tab-checkbox').click(function () {
                var name = $(this).data('tab-name');
                sergsxmuiTabUpdateVisibility(name);
            });
            $('.sergsxmui-tab-checkbox').closest('tr').click(function (e) {
                if ($(e.target).is('td')) {
                    $(this).find('.sergsxmui-tab-checkbox').each(function () {this.checked = !this.checked;});
                }
            });
            sergsxmuiTabUpdateVisibility('{{activeTab}}');
        });
    </script>
{% endblock %}