    <script>
        function formValidation_{{formId}} (element, log) {
            var form = document.forms['{{formId}}'];
            var errors = {};
            if ((tinymce != undefined) && (typeof tinymce == 'object')) {
                tinymce.triggerSave();
            }
            {{jsValidation | raw}}
            if (element !== undefined) {
                var inputId = ($(element).data('replace-input-id') ? $(element).data('replace-input-id') : $(element).prop('id'));
                if (errors[inputId] != undefined) {
                    $('.'+inputId+'-container').addClass('has-error');
                    $('.'+inputId+'-error').text(errors[inputId]);
                } else {
                    $('.'+inputId+'-container').removeClass('has-error');
                    $('.'+inputId+'-error').text('');
                }
            } else {
                var top = null;
                $('#{{formId}} .has-error').removeClass('has-error');
                $('#{{formId}} .form-error-text').text('');
                for (var inputId in errors) {
                    $('.'+inputId+'-container').addClass('has-error');
                    if ((top === null) && ($('.'+inputId+'-container').length > 0)) {
                        top = $('.'+inputId+'-container').eq(0).offset().top;
                    }
                    $('.'+inputId+'-error').text(errors[inputId]);
                    if ((top === null) && ($('.'+inputId+'-error').length > 0)) {
                        top = $('.'+inputId+'-error').eq(0).offset().top;
                    }
                }
                if (top !== null) {
                    $('html,body').scrollTop(top);
                }
            }
            {{jsVisibility | raw}}
            if ((log !== undefined) && (log == true)) {
                return errors;
            }
            for (var inputId in errors) {
                return false;
            }
            return true;
        }
        $(function () {
            sergsxmUIFunctions.initWysiwyg('#{{formId}} textarea.form-wysiwyg');
            sergsxmUIFunctions.initDraggableElements('#{{formId}} .form-draggable');
            sergsxmUIFunctions.initFileUploadInput(
                '#{{formId}} input.form-file-upload', 
                '{{formId}}', 
                '%input%{% trans with {'%name%': '%name%', '%size%': '%size%'} from "sergsxmui" %}%name% (%size% bytes){% endtrans %}', 
                formValidation_{{formId}},
                function (id, error) {
                    $('.'+id+'-container').addClass('has-error');
                    $('.'+id+'-error').text(error);
                }
            );
            sergsxmUIFunctions.initImageUploadInput(
                '#{{formId}} input.form-image-upload', 
                '{{formId}}', 
                '%input%<div class="thumbnail sergsxmui-form-thumbnail"><img src="%thumbnail%" title="{% trans with {'%name%': '%name%', '%size%': '%size%'} from "sergsxmui" %}%name% (%size% bytes){% endtrans %}" /></div>', 
                formValidation_{{formId}},
                function (id, error) {
                    $('.'+id+'-container').addClass('has-error');
                    $('.'+id+'-error').text(error);
                }
            );
            sergsxmUIFunctions.initMultiplyFileUploadInput(
                '#{{formId}} input.form-file-upload-multiply', 
                '{{formId}}', 
                '<li class="list-group-item">%input%{% trans with {'%name%': '%name%', '%size%': '%size%'} from "sergsxmui" %}%name% (%size% bytes){% endtrans %}<button type="button" class="close" onclick="$(this).closest(\'.list-group-item\').remove();return false;">&times;</button></li>', 
                formValidation_{{formId}},
                function (id, error) {
                    $('.'+id+'-container').addClass('has-error');
                    $('.'+id+'-error').text(error);
                }
            );
            sergsxmUIFunctions.initMultiplyImageUploadInput(
                '#{{formId}} input.form-image-upload-multiply', 
                '{{formId}}', 
                '<div class="thumbnail sergsxmui-form-thumbnail">%input%<img src="%thumbnail%" title="{% trans with {'%name%': '%name%', '%size%': '%size%'} from "sergsxmui" %}%name% (%size% bytes){% endtrans %}" /><button type="button" class="close" onclick="$(this).closest(\'.thumbnail\').remove();return false;">&times;</button></div>',
                formValidation_{{formId}},
                function (id, error) {
                    $('.'+id+'-container').addClass('has-error');
                    $('.'+id+'-error').text(error);
                }
            );
            sergsxmUIFunctions.initMap('#{{formId}} .form-map');
            sergsxmUIFunctions.initTagInput(
                '#{{formId}} .form-tag',
                ' <span class="label sergsxmui-label">%input%%tag% <a href="#" onclick="$(this).closest(\'.label\').remove();return false;"><i class="glyphicon glyphicon-remove"></i></a></span> '
            );

            $('#{{formId}} input, #{{formId}} textarea, #{{formId}} select').change(function () {
                formValidation_{{formId}}(this);
            });
            $('#{{formId}}').submit(function () {
                return formValidation_{{formId}}();               
            });
            var form = document.forms['{{formId}}'];
            {{jsVisibility | raw}}
        });
    </script>
